<div class="container">
    <h2>Servicio</h2>
    <div>
        <label for="service-type">Seleccione un tipo de servicio</label>
        <select class="form-select" id="service-type" [(ngModel)]="selectedService">
            @for (opc of servicesList; track $index) {
            <option [value]="opc">{{opc}}</option>
            }
        </select>
        <button class="btn btn-primary" (click)="selectServiceType()">Aceptar</button>
    </div>

    @if(serviceForm) {
    <h3>Información General</h3>
    <form [formGroup]="serviceForm">
        <div class="row">
            <div class="col-4">
                <app-dropzone-image (onFileSelected)="onFileSelected($event)"></app-dropzone-image>
            </div>
            <div class="col">
                <label for="type" class="form-label">Tipo</label>
                <input type="text" class="form-control" id="type" formControlName="type">
            </div>
        </div>
    </form>
    <app-general-form [form]="serviceForm.get('general')"></app-general-form>
    @switch (serviceForm.get('type')?.value) {
    @case ('SIM') {
    <h3>SIM</h3>
    <app-sim-form [form]="serviceForm.get('sim')"></app-sim-form>
    }
    @case ('HOTEL') {
    <h3>HOTEL</h3>
    <app-hotel-form [form]="serviceForm.get('hotel')"></app-hotel-form>
    }
    }
    <button class="btn btn-primary" (click)="save()">Guardar</button>
    <button class="btn btn-danger" (click)="close()">Cerrar</button>
    }
</div>